@using ReportViewerForMvc;


@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


@*<iframe src= @ViewBag.ReportLink.ToString() width="100%" height="525" sandbox="allow-same-origin"></iframe>*@
@*@Html.Partial("~/Views/ASPX/ReportViewer.aspx")*@

<div>
    @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer);
</div>

