
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";

}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Dashboard
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-sm-4">
            <a href="http://www.ubh.com" class="tile green btn btn-primary btn-lg active">
                <h3 class="title">Fruit</h3>
                <p>Short, sweet data point goes here.</p>
            </a>
        </div>

        <div class="col-sm-4">
            <a href="http://www.ubh.com" class="tile green">
                <h3 class="title">Vegitable</h3>
                <p>Short, sweet data point goes here.</p>
            </a>
        </div>

    </div>
</section>
<!-- /.content -->
